<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cart_Testing</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c1b3a1">  <td>22/02/28 17:37:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.ChromeTest()[pri:0, instance:Load_Testing.NewTest@443118b0]">ChromeTest</td> 
  <td>main@1759899303</td>   <td></td> </tr>
<tr bgcolor="c1b3a1">  <td>22/02/28 17:37:40</td>   <td>36953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.FirefoxTest()[pri:0, instance:Load_Testing.NewTest@443118b0]">FirefoxTest</td> 
  <td>main@1759899303</td>   <td></td> </tr>
</table>
