<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c1b3a1">  <td>22/02/28 19:27:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.ChromeTest1()[pri:0, instance:Load_Testing.NewTest@443118b0]">ChromeTest1</td> 
  <td>main@758119607</td>   <td></td> </tr>
<tr bgcolor="c1b3a1">  <td>22/02/28 19:27:46</td>   <td>27316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.ChromeTest2()[pri:0, instance:Load_Testing.NewTest@443118b0]">ChromeTest2</td> 
  <td>main@758119607</td>   <td></td> </tr>
</table>
